section{
  display: grid;
  grid-template-columns: 1fr 1fr;
  margin-top: 150px;
}

.intro {
  color: white;
  padding: 20px;
}

h1, h2, p {
  font-family: 'Arial', sans-serif;
  font-weight: 600;
  font-size: 58px;
}

.emoji {
  font-size: 2rem; /* Tamaño de emoji */
}

.highlight {
  background: linear-gradient(to right, #13b0f5, #e70faa);
  -webkit-background-clip: text;
  color: transparent;
  font-weight: 700;
}

img{
  height: 350px;
}

section div:nth-child(2){
  justify-self: end;
}
